app:
  image:
    registry: ghcr.io
    repository: gapidobri/devops-k8s
    tag: master
    pullPolicy: IfNotPresent

  replicas: 1

  probes:
    liveness:
      enabled: true
      initialDelaySeconds: 15
      periodSeconds: 10
      failureThreshold: 3

  gateway:
    enabled: true
    name: traefik-gateway
    namespace: traefik

    listeners:
      - name: https
        port: 443
        protocol: HTTPS

    hosts:
      - app.localhost

postgres:
  image: postgres:18.1

  probes:
    liveness:
      enabled: true
      initialDelaySeconds: 15
      periodSeconds: 10
      failureThreshold: 3

  auth:
    user: postgres
    password: postgres

  persistence:
    enabled: true
    size: 5Gi