apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-green
  namespace: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app-green
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: app-green
    spec:
      containers:
        - name: app
          image: "ghcr.io/gapidobri/devops-k8s:master" # TODO: change
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
          readinessProbe:
            httpGet:
              port: 8080
              path: /healthz
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
      volumes:
        - name: postgres-secret
          secret:
            secretName: postgres-secret